# Dependencias
node_modules/

# Build / Compilación
dist/
dist-electron/
release/
build/*.exe
build/*.dll

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
.history/

# Variables de entorno
.env
.env.local
.env.*.local

# Temporales
temp/
coverage/
*.tmp

# Electron
electron/
electron-v*-win32-x64/

# Binarios
*.exe
*.dll
*.so
*.app
*.bin

# Otros
ANALISIS_MINECRAFT_LAUNCHER
web/
Instalador/
Mobil/